body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-items {
  width: 100%;
}
.nav-item:hover {
  color: black;
  cursor: pointer;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.section-pink {
  background: linear-gradient(-25deg, #d253b1, #fb6f4a);
  color:black;
}

.jumbotron-size {
  height: 85vh;
  margin-top: 20px;
}

.section-some {
  background: linear-gradient(-25deg, #5392d2, #a74afb66);
  color:black;
}

.section-blue {
  background: linear-gradient(-25deg, #5392d2, #a74afb66);
  color:black;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 600px;
}

/* #dcebf1
#e6ebe9
#c871843d
#f1e7f357
*/

.d-flex div{
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}